parameters:

    database_host: 127.0.0.1
    database_port: null
    database_name: vgc
    database_user: root
    database_password: null
    
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    
    secret: SECRETSECRETSECRETSECRETSECRET

    fos_user_from_email:
        address:        noreply@example.com
        sender_name:    VGC

    user_host: vgc.local|www.vgc.local
    game_api_host: api.vgc.local
    admin_host: admin.vgc.local

    mashape_key: 'YOUR_MASHAPE_KEY'

    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem'
    jwt_public_key_path:  '%kernel.root_dir%/../var/jwt/public.pem'
    jwt_key_pass_phrase:  vgcapipass
    jwt_token_ttl:        3600
