{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Bienvenue{% endblock %}

{% block body %}
    <h3>VGC User Test</h3>
    {% if(user) %}
        {{ dump(user) }}
        {% for role in user.roles %}
            {{ role }}
        {% endfor %}
    {% endif %}
{% endblock %}